{% capture ratings %}
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
    <path id="Vector 16"
        d="M2.23385 8.70371L8.50116 14.6818C8.69377 14.8655 8.79007 14.9573 8.89999 14.9923C8.99869 15.0238 9.10472 15.0238 9.20342 14.9923C9.31334 14.9573 9.40964 14.8655 9.60225 14.6818L15.8696 8.70371C17.602 7.0512 17.8132 4.35959 16.3595 2.45717L16.0454 2.04608C14.2884 -0.253352 10.7192 0.128342 9.48816 2.74732C9.31449 3.1168 8.78893 3.1168 8.61525 2.74732C7.38422 0.128342 3.81504 -0.253351 2.05803 2.04608L1.74391 2.45718C0.29026 4.35959 0.501371 7.05119 2.23385 8.70371Z"
        fill="#FF028D" />
</svg>
{% endcapture %}
{% capture ratings_white %}
<svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" viewBox="0 0 18 16" fill="none">
    <path id="Vector 16"
        d="M2.23385 8.70371L8.50116 14.6818C8.69377 14.8655 8.79007 14.9573 8.89999 14.9923C8.99869 15.0238 9.10472 15.0238 9.20342 14.9923C9.31334 14.9573 9.40964 14.8655 9.60225 14.6818L15.8696 8.70371C17.602 7.0512 17.8132 4.35959 16.3595 2.45717L16.0454 2.04608C14.2884 -0.253352 10.7192 0.128342 9.48816 2.74732C9.31449 3.1168 8.78893 3.1168 8.61525 2.74732C7.38422 0.128342 3.81504 -0.253351 2.05803 2.04608L1.74391 2.45718C0.29026 4.35959 0.501371 7.05119 2.23385 8.70371Z"
        fill="#fff" />
</svg>
{% endcapture %}
{% assign splicesectionId = section.id | remove: '-' | slice: 25, 33 %}
<section>
    <div class="container pt-5">
        <div class="row feedback-slider-container">
            <div class="col-12 col-lg-6 feedback-image">
                <img src="{{ section.settings.mainLogo | image_url  }}" alt="MainLogo" class="d-sm-none">
                <img src="{{ section.settings.mainImage | image_url }}" alt="Main Image"
                    class="img-fluid feedback-gif w-100">
            </div>

            <div class="col-12 col-lg-6">
                <div class="feedback-title-container">
                    <img src="{{ section.settings.mainLogo | image_url  }}" alt="mainLogo"
                        class="d-none d-md-block mt-3 mt-lg-0">

                    <div class="feedback-slider">
                        <div class="slider-item">
                            <div class="feedback-content">
                                <div class="feedback-rating">
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                </div>
                                <p class="feedback-text ">
                                    “From prepping to ace the base to those defined, to those luscious lips, L.A. Girl
                                    has an answer
                                    in...”
                                </p>
                                <p class="feedback-user">Lalit</p>
                            </div>
                        </div>

                        <div class="slider-item">
                            <div class="feedback-content">
                                <div class="feedback-rating">
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings_white }}
                                </div>
                                <p class="feedback-text ">
                                    “From prepping to ace the base to those defined, to those luscious lips, L.A. Girl
                                    has an answer
                                    in...”
                                </p>
                                <p class="feedback-user">Modi</p>
                            </div>
                        </div>

                        <div class="slider-item">
                            <div class="feedback-content">
                                <div class="feedback-rating">
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                    {{ ratings }}
                                </div>
                                <p class="feedback-text ">
                                    “From prepping to ace the base to those defined, to those luscious lips, L.A. Girl
                                    has an answer
                                    in...”
                                </p>
                                <p class="feedback-user">Shraddha</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feedback-slider ">
                    <div class="feed_slider" id="feed_slider">
                        {% for product in collections[section.settings.home_featured_products].products limit: 15 %}
                        <div class="slider-item">
                            {% render 'main_product_cards' product:product , sectionId: splicesectionId
                            ,card_margin:false ,show_button:true %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% for product in collections[section.settings.home_featured_products].products limit: 15 %}
{% render 'quick_shades' product:product , sectionId: splicesectionId %}
{% endfor %}
<style>
    .feedback-slider-container {
        padding: 40px 0px;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        z-index: 1;
    }

    .feedback-slider-container::before {
        content: ' ';
        top: 0;
        left: 0;
        position: absolute;
        height: 60%;
        width: 100%;
        z-index: -10;
        border-radius: 8px;
    }

    .feedback-slider-container .feedback-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .feedback-slider-container .feedback-image .feedback-gif {
        max-width: 610px;
        max-height: 595px;
        aspect-ratio: 1/1;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 6px;
    }

    .feedback-slider-container .feedback-title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 0px 15px 10px;
    }

    .feedback-slider-container .feedback-title-container .feedback-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 0px 0px;
        cursor: grab;
    }

    .feedback-slider-container .feedback-title-container .feedback-content .feedback-rating {
        margin-bottom: 12px;
    }

    .feedback-slider-container .feedback-title-container .feedback-content p {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 0;
    }

    .feedback-slider-container .feedback-title-container .feedback-content .feedback-text {
        color: #393939;
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
    }

    .feedback-slider-container .feedback-title-container .feedback-content .feedback-user {
        color: #585858;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        text-transform: capitalize;
    }

    .feedback-slider-container .feedback-title-container button[data-action='stop'],
    .feedback-slider-container .feedback-title-container button[data-action='sart'] {
        display: none;
    }

    .feedback-slider-container .feedback-title-container .tns-nav {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .tns-nav button {
        height: 7px;
        width: 7px;
        border-radius: 50%;
        border: none;
        background-color: #fff;
    }

    .feedback-slider-container .feedback-title-container .tns-nav .tns-nav-active {
        background-color: #6a6a6a;
    }

    .feedback-slider-container .feedback-slider {
        position: relative;
    }

    .feedback-slider-container .feedback-slider .prev,
    .feedback-slider-container .feedback-slider .next {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        border: none;
        background-color: #b1b3e3;
        border-radius: 100%;
        color: #e1e2fc;
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
    }

    .feedback-slider-container .feedback-slider .prev {
        left: 0px;
    }

    .feedback-slider-container .feedback-slider .next {
        right: 0px;
    }

    @media screen and (max-width: 992px) {
        .feedback-slider-container {
            padding: 12px 0px;
            display: flex;
        }

        .feedback-slider-container::before {
            content: ' ';
            top: 118px;
            left: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #ffe5f4;
            z-index: -10;
            border-radius: 8px;
        }
    }

    @media screen and (max-width: 576px) {
        .feedback-slider-container {
            padding: 12px 0px;
            display: flex;
        }

        .feedback-slider-container::before {
            content: ' ';
            top: 118px;
            left: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #ffe5f4;
            z-index: -10;
            border-radius: 8px;
        }

        .feedback-slider-container .feedback-gif {
            width: 366px;
            height: 366px;
        }

        .feedback-slider-container .feedback-title-container {
            padding: 1rem;
        }
    }
</style>

<script>
    var feedbackSlider = tns({
        container: '.feedback-slider',
        items: 1,
        gutter: 0,
        edgePadding: 0,
        swipeAngle: false,
        speed: 400,
        mouseDrag: true,
        nav: true,
        autoplay: true,
        autoplayButton: false,
        navPosition: 'bottom',
        controls: false,
    });
    var feedSlides = tns({
        container: '.feed_slider',
        items: 3,
        gutter: 16,
        edgePadding: 0,
        swipeAngle: false,
        speed: 400,
        loop: false,
        mouseDrag: true,
        nav: false,
        autoplay: false,
        autoplayButton: false,
        navPosition: 'bottom',
        controls: false,
        responsive: {
            0: {
                items: 2,
                nav: false,
                gutter: 9,
            },
            768: {
                items: 2.5,
                nav: false,
                gutter: 9,
            },
            1440: {
                items: 3,
            },
        },
    });
</script>
{% schema %}
{
"name": "Brand In Spotlight",
"settings": [
{
"type": "image_picker",
"id": "mainImage",
"label": "Add Your Main Image Here"
},
{
"type": "image_picker",
"id": "mainLogo",
"label": "Add Your Logo Image Here"
},
{
"type": "collection",
"id": "home_featured_products",
"label": "Add Your Collection Here"
}
],
"blocks": [
{
"type": "@app"
}
],
"presets": [
{
"name": "Brand In Spotlight"
}
]
}
{% endschema %}